name: Create Zip File and Push to CDN
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
      - name: Zip Folder
        run: |
          rm -f texture.zip
          date > build-date.txt #Identify if push failed
          zip -r texture.zip . -x ".git/*" ".github/*" "push.sh"
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: /home/runner/work/texture/texture/texture.zip
          asset_name: texture.zip
          tag: latest
          overwrite: true
          body: "Latest commit release of the texturepack. If you want to work on the texture pack, do not download 'source code' from here, as it will be stale. Please checkout the main repo"
      - name: Push release to CDN
        run: |
          sudo apt-get install curl -y
          sleep 10 #Avoids problems with concurrency
          curl https://cdn.rgbcraft.com/modpack/update-texture.php
