name: Create Zip File
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
      - name: Zip Folder
        run: |
          pwd
          cd ../
          rm -rf texture.zip
          zip -r texture.zip texture -x ".git/*" ".github/*"
          ls -lart
          pwd
          file `pwd`/texture.zip
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: /home/runner/work/texture/texture.zip
          asset_name: mything
          tag: ${{ github.ref }}
          overwrite: true
          body: "Latest push"
