name: Create Zip File
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Generate ZIP
        uses: byteever/action-build-zip@master
        with:
          filename: 'texture.zip'
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: texture.zip
          asset_name: mything
          tag: ${{ github.ref }}
          overwrite: true
          body: "Latest push"
